.weatherContainer {
    grid-area: weatherContainer;
    margin-top: 2em;
}

.weatherHeader>* {
    padding-left: 0.5em;
}

.weatherGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

@media screen and (max-width: 1023px) {
    .weatherContainer {
        margin-top: 0;
    }

    .weatherGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}