h3 {
    margin-top: 0;
}

ul {
    padding-left: 0;
    overflow-y: scroll;
    height: 55%;
}

.todoList {
    list-style: none;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-gap: 0.5em;
}

.todoList>* {
    align-self: center;
}

.todoList>span {
    overflow-wrap: anywhere;
}