* {
  /* border: 1px solid red; */
  font-family: american typewriter, serif;
}

.frame {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: min-content max-content min-content;
  grid-template-areas:
    "headerContainer headerContainer"
    "calendarContainer todoContainer"
    "weatherContainer weatherContainer";
  margin-left: 2em;
  margin-right: 2em;
}

@media screen and (max-width: 1023px) {
  .frame {
    grid-template-columns: min-content;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "headerContainer"
      "calendarContainer"
      "todoContainer"
      "weatherContainer";
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 1023px) {
  .frame {
    justify-content: center;
  }
}